# copy the contents of this file into .envrc
export PRODUCTION_HOST_IP=xxx.xxx.xxx.xxx

export GREENLIGHT_DB_DSN=postgres://greenlight:DB_PASSWORD@localhost/greenlight?sslmode=disable
export SMTP_HOST=
export SMTP_USERNAME=
export SMTP_PASSWORD=
export SMTP_SENDER=
export TRUSTED_CORS=