{{ define "subject" }} Reset your Greenlight password {{ end }}

{{ define "plainBody" }}

    Hey {{ .name }},

    Please invoke a `PUT /v1/accounts/password-reset` request with the following JSON body to set a new password:

    {"password": "your new password", "token": "{{ .passwordResetToken }}"}

    Please note that this is a single use token and it will expire in 30 minutes. You can always get a new token by invoking `POST /v1/tokens/password-reset`.

    Many Thanks,
    Team Greenlight
{{ end }}


{{ define "htmlBody" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <p>Hey {{ .name }},</p>
    <p>Please invoke a `PUT /v1/accounts/password-reset` request with the following JSON body to set a new password:</p>
    <pre>
        <code>{"password": "your new password", "token": "{{ .passwordResetToken }}"}</code>
    </pre>
    <p>Please note that this is a single use token and it will expire in 30 minutes. You can always get a new token by invoking `POST /v1/tokens/password-reset`.</p>
    <p>Many Thanks,</p>
    <p>Team Greenlight</p>
</body>
</html>
{{ end }}
